body{
    background-image: linear-gradient(560deg, #5a67d6, #73e2fd);
    margin-left: 20%;
    width: 1120px;
    height: 910px;
}
h1{
    text-align: center;
    font-family:Verdana;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3, p {
    margin-left: 40%;
    font-family:cursive ;
}

li {
    list-style-type: none;
    font-size: large;
    padding-block: 12px;
    }

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #e9e9e9;
    }
a{
    background-color: #110253;
    color:white;
    padding-block: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    float: right;
    cursor: pointer;
}

.subHeading {
    background-color: rgb(184, 214, 245);
    }

div {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    }

.taskEntry {
    width: 900px;
    height: 40px;
    margin-left: 5%;
    padding-left: 40px;
    border: none;
    font-size:medium;
    color: brown;
    background-color: rgb(255, 233, 220);
    }

button {
    width: 60px;
    height: 40px;
    font-size:medium;
    text-align: center;
    background-color: rgb(243, 162, 162);
    border: none;
    }

span {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    }       

input {
    margin-block: 10px;
    }         
 